.main-div mat-card{
    padding:0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
}

.login-form{
    padding:20px
}

.error-message{
    color: red;
    margin-bottom: 10px;
}

.form-error{
    margin-bottom: 10px;
}
