<mat-sidenav-container>

  <!-- sidenav bar displayed only screensize reduced -->
  <mat-sidenav class="sideBarNav" [(opened)]="open">
    <ng-template [ngTemplateOutlet]="navigationItems"></ng-template>
  </mat-sidenav>

  <!-- sidenav content which displayed in browser -->
  <mat-sidenav-content>
    <!-- navigation bar -->
    <mat-toolbar color="primary" class="navbar">
      <div>
        <button id="menuButton" (click)="open = !open">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{title}}</span>
      </div>
      <div class="navigation" *ngIf="!open">
        <ng-template [ngTemplateOutlet]="navigationItems"></ng-template>
      </div>
    </mat-toolbar>
    

    <router-outlet></router-outlet>


    <mat-toolbar color = 'primary'  class="footer">
        <span>
          &copy;Manikandan
        </span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #navigationItems>
  <a routerLink='/admin/add' *ngIf='roles.createCourse'>Add Course</a>
  <a routerLink='/admin/dashboard' *ngIf='roles.createCourse'>Dashboard</a>
  <a routerLink='/home' *ngIf="isLoggedIn">Home</a>
  <a routerLink='/register' *ngIf='!isLoggedIn'>Register</a>
  <a routerLink='/login' *ngIf='!isLoggedIn'>Login</a>
  <span *ngIf="isLoggedIn">
    <a class="userName" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
      (mouseenter)="menuTrigger.openMenu()">{{userName}}</a>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <nav class="nav-link" (mouseleave)="menuTrigger.closeMenu()">
        <a (click)="updateProfile()">Update Profile</a>
        <a routerLink='resetpassword'>Change Password</a>
        <a (click)="logout()">Logout</a>
      </nav>
    </mat-menu>
  </span>
</ng-template>