.main-div mat-card{
    padding:0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
}

.registration-form{
    padding:20px
}

mat-radio-group, .fileInput{
    margin-bottom: 10px;
}
mat-radio-button{
    margin-right: 5px;
}

.error-message{
    color: red;
    margin-bottom: 10px;
}

.links{
    margin-top: 10px;
}
