<div fxLayoutAlign="center center" class="main-div">

  <mat-card>
    <mat-card-content>
      <mat-toolbar color="primary">{{title}}</mat-toolbar>

      <form fxLayout="column" class="registration-form" [formGroup]="registrationForm">
        <span class='error-message' *ngIf="isInvalidForm">{{errorMessage}}</span>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName='name'>
        </mat-form-field>
        <span class='error-message' *ngIf='getField("name")?.invalid && getField("name")?.touched'>
          <span class='error-message' *ngIf="getField('name').errors?.required">Name is required</span>
          <span class='error-message' *ngIf="getField('name').errors?.minlength">Minimum 3 letter required</span>
          <span class='error-message' *ngIf="getField('name').errors?.pattern">Name must not have numbers</span>
        </span>


        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input matInput formControlName='age'>
        </mat-form-field>
        <span class='error-message' *ngIf='getField("age")?.invalid && getField("age")?.touched'>
          <span class='error-message' *ngIf="getField('age').errors?.required">Age is required</span>
          <span class='error-message' *ngIf="getField('age').errors?.min">Age must be above 15 years</span>
          <span class='error-message' *ngIf="getField('age').errors?.max">Age must be below 60 years</span>
        </span>

        <mat-radio-group formControlName='gender'>
          <mat-radio-button value='male'>Male</mat-radio-button>
          <mat-radio-button value='female'>Female</mat-radio-button>
        </mat-radio-group>
        <span class='error-message' *ngIf='getField("gender")?.invalid && getField("gender")?.touched'>
          <span class='error-message' *ngIf="getField('gender').errors?.required">Age is required</span>
        </span>

        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput formControlName='phone'>
        </mat-form-field>
        <span class='error-message' *ngIf='getField("phone")?.invalid && getField("phone")?.touched'>
          <span class='error-message' *ngIf="getField('phone').errors?.required">Phone is required</span>
          <span class='error-message' *ngIf="getField('phone').errors?.minlength">10 numbers required</span>
          <span class='error-message' *ngIf="getField('phone').errors?.maxlength">Maximum 10 numbers allowed</span>
        </span>


        <mat-form-field appearance="outline" *ngIf="!isUpdateForm">
          <mat-label>Email</mat-label>
          <input matInput formControlName='email'>
        </mat-form-field>
        <span class='error-message' *ngIf='getField("email")?.invalid && getField("email")?.touched'>
          <span class='error-message' *ngIf="getField('email').errors?.required">Email is required</span>
          <span class='error-message' *ngIf="getField('email').errors?.email">Invalid Email Addess</span>
        </span>


        <mat-form-field appearance="outline" *ngIf="!isAddUser || isUpdateForm && isProfessorUpdate">
          <mat-label>Working At</mat-label>
          <input matInput formControlName='workingAt'>
        </mat-form-field>
        <span class='error-message' *ngIf='getField("work")?.invalid && getField("work")?.touched'>
          <span class='error-message' *ngIf="getField('work').errors?.required">Working position is required</span>
        </span>


        <mat-form-field appearance="outline" *ngIf="!isUpdateForm">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName='password'>
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <span class='error-message' *ngIf='getField("password")?.invalid && getField("password")?.touched'>
          <span class='error-message' *ngIf="getField('password').errors?.required">password is required</span>
          <span class='error-message' *ngIf="getField('password').errors?.minlength">Password should be 8 charcters
            minimum</span>
        </span>

        <mat-form-field appearance="outline" *ngIf="!isUpdateForm">
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput formControlName='confirmPassword'>
        </mat-form-field>
        <span class='error-message' *ngIf='getField("confirmPassword")?.invalid && getField("password")?.touched'>
          <span class='error-message' *ngIf="getField('confirmPassword').errors?.required">confirmPassword is
            required</span>
          <span class='error-message' *ngIf="getField('confirmPassword').errors?.minlength">confirmPassword should be 8
            charcters
            minimum</span>
          <span class='error-message' *ngIf="getField('confirmPassword').errors?.passwordMismatch">Password and confirm
            password not
            match</span>
        </span>

        <button mat-raised-button *ngIf="!isUpdateForm && isAddUser" type="button" (click)="addStudent()">Register as
          Student</button>
        <button mat-raised-button *ngIf="!isUpdateForm && !isAddUser" type="button" (click)="addProfessor()">Register
          as
          Professor</button>
        <br>
        <button mat-raised-button *ngIf=' !isUpdateForm && isAddUser' (click)="triggerProfessorRegister()">Go to
          professor Register</button>
        <button mat-raised-button *ngIf="!isUpdateForm && !isAddUser" (click)="triggerStudentRegister()">Go to Student
          Register</button>
        <button mat-raised-button *ngIf='isUpdateForm' type="button" (click)='updateUser()'>Update User</button>
        <br>
        <button mat-raised-button *ngIf='isUpdateForm' type="button" (click)="cancel()">Cancel</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>