<div fxLayoutAlign="center center" class="main-div page-container">

  <mat-card>
    <mat-card-content>
      <mat-toolbar color="primary">{{title}}</mat-toolbar>
      <form fxLayout="column" class="password-form" [formGroup]="passwordForm">

        <mat-form-field appearance="outline">
          <mat-label>Old Password</mat-label>
          <input matInput formControlName="oldPassword">
        </mat-form-field>
        <span class="error-message" *ngIf="getField('oldPassword')?.invalid && getField('oldPassword')?.touched">
          <span class="error-message" *ngIf="getField('oldPassword').errors?.required">oldPassword is required</span>
          <span class="error-message" *ngIf="getField('oldPassword').errors?.minlength">oldPassword should be 8 charcters minimum</span>
        </span>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="isHide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="isHide = !isHide">
            <mat-icon>{{isHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <span class="error-message" *ngIf="getField('password')?.invalid && getField('password')?.touched">
          <span class="error-message" *ngIf="getField('password').errors?.required">password is required</span>
          <span class="error-message" *ngIf="getField('password').errors?.minlength">Password should be 8 charcters minimum</span>
        </span>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword">
        </mat-form-field>
        <span class="error-message" *ngIf="getField('confirmPassword')?.invalid && getField('confirmPassword')?.touched">
          <span class="error-message" *ngIf="getField('confirmPassword').errors?.required">confirmPassword is required</span>
          <span class="error-message" *ngIf="getField('confirmPassword').errors?.minlength">confirmPassword should be 8 charcters
            minimum</span>
          <span class="error-message" *ngIf="getField('confirmPassword').errors?.passwordMismatch">Password and confirm password not
            match</span>
        </span>
    
        <button mat-raised-button type="button" color="primary" (click)="changePassword()">Change Password</button>
    
      </form>
    </mat-card-content>
  </mat-card>
</div>