<div fxLayoutAlign="center center" class="main-div">

  <mat-card>
    <mat-card-content>
      <mat-toolbar color="primary">{{formName}}</mat-toolbar>
      <form fxLayout="column" class="login-form" [formGroup]="loginForm">
        <mat-error *ngIf="isInvalidForm">{{errorMessage}}</mat-error>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName='email'>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName='password'>
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <button mat-raised-button *ngIf="isStudentLogin && !adminLogin" type="button" (click)="loginAsStudent()">Login as Student</button>
        <button mat-raised-button *ngIf="!isStudentLogin && !adminLogin" type="button" (click)="loginAsProfessor()">Login as Professor</button>
        <button mat-raised-button *ngIf="adminLogin" type="button" (click)="loginAsAdmin()">Login as Admin</button>
        <br>
        <button mat-raised-button *ngIf="isStudentLogin && !adminLogin" (click)='triggerProfessorLogin()'>Go to Professor Login</button>
        <button mat-raised-button *ngIf="!isStudentLogin && !adminLogin" (click)='triggerisStudentLogin()'>Go to Student Login</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>