<div fxFlex='100%' class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title class="title">Angular</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h4>DEVELOP ACROSS ALL PLATFORMS</h4>
            <p>Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
                deployment target. For web, mobile web, native mobile and native desktop.</p>
            <h4>SPEED & PERFORMANCE</h4>
            <li>Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and
                server-side rendering.</li>
            <li>Angular puts you in control over scalability. Meet huge data requirements by building data models on
                RxJS, Immutable.js or another push-model.</li>
            <br>
            <table>
                <tr>
                    <th>Topic Name</th>
                    <th>Document Link</th>
                    <th>Toturial Link</th>
                    <th *ngIf="roles.updateDocument">Update Topic</th>
                </tr>
                <tr *ngFor="let topic of topics; let i = index">
                    <td>{{keys[i]}}</td>
                    <td><a href="topic.documentLink">Click Here</a></td>
                    <td><a href="topic.toturialLink">Click Here</a></td>
                    <td *ngIf="roles.updateDocument"><button mat-raised-button (click)='updateTopic(i)'>Update</button></td>

                </tr>
            </table>
            <br><br>
            <hr>
        </mat-card-content>
        <mat-card-actions align="end">  
            <button *ngIf="roles.createDocument">Dummy</button>
        </mat-card-actions>
    </mat-card>
</div>