<div class="container">
    <div fxLayout="row" class="intro" *ngIf="!roles.createDocument">
        <div fxFlex="100%">
            <mat-card>
                <img class="intro-image" src="assets/images/intro.jpg" width="100%" height="300px">
                <h4 class="center"> Welcome to iLearn website. Here you can explore existing and new Technologies </h4>
            </mat-card>

        </div>
    </div>
    <span *ngIf="isNoCourse" class="no-item"> No Course Available</span>

    <div *ngIf="!isNoCourse" class="course-container" fxLayout="row wrap" fxLayoutGap="16px grid">

        <div fxFlex='25%' fxFlex.xs='50%' fxFlex.sm="33%" *ngFor="let course of allCourse">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ course.name }}</mat-card-title>
                </mat-card-header>
                <img class="card-image" mat-card-image [src]='course.url'>
                <mat-card-content>
                    {{course.shortDescription}}
                </mat-card-content>
                <mat-card-actions>
                    <span>
                        <button mat-button (click)="exploreCourse(course.name)">Explore</button>
                        <button mat-button *ngIf='roles.deleteCourse' (click)='deleteCourse(course.name)'>Delete
                            Course</button>
                    </span>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>