<div fxLayoutAlign="center center" class="main-div">

  <mat-card>
    <mat-card-content>
      <mat-toolbar color="primary">{{formName}}</mat-toolbar>
      <form fxLayout="column" class="password-form" [formGroup]="passwordForm">
        <mat-error *ngIf="isInvalidForm">{{errorMessage}}</mat-error>

        <mat-form-field appearance="outline">
          <mat-label>Old Password</mat-label>
          <input matInput formControlName='oldPassword'>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName='password'>
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName='confirmPassword'>
        </mat-form-field>
    
        <button mat-raised-button type="button" (click)="changePassword()">Change Password</button>
    
      </form>
    </mat-card-content>
  </mat-card>
</div>