.container{
    padding: 16px;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bolder;
}

.intro-image{
    opacity: 0.5;
}

.card-image{
    margin-left: 10px;
    width: 200px;
    height: 150px;
}

.intro{
    margin-bottom: 20px;
}

mat-card-title{
    margin-left: 50px;
}
@media screen and (max-width:800px) {
    .card-image{
        margin-left: 0;
        width: 150px;
    }
}