<div class="page-container">
    <div *ngIf="!isAnswerEditPage">
        <button *ngIf="!isStudent" class="edit-button" mat-raised-button (click)="triggerEditMyAnswerPage()">Edit my
            answer</button><br><br>
        <div>
            <table>
                <tr>
                    <th *ngIf="!isStudent">Student Name</th>
                    <th>Question</th>
                    <th *ngIf="isStudent">Answer</th>
                    <th *ngIf="isStudent">Professor Name</th>
                    <th *ngIf="!isStudent">Answer</th>
                </tr>

                <tr *ngFor="let question of dataToDisplay">
                    <td *ngIf="!isStudent">{{question.studentName}}</td>
                    <td>{{question.question}}</td>
                    <td *ngIf="isStudent">{{question.answer}}</td>
                    <td *ngIf="isStudent">{{question.professorName}}</td>
                    <td *ngIf="!isStudent"><button mat-raised-button (click)="answer(question._id)">Answer the
                            question</button>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <div *ngIf="isAnswerEditPage">
        <table>
            <tr>
                <th>Student Name</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Edit Answer</th>
            </tr>
            <tr *ngFor="let question of dataToDisplay">
                <td>{{question.studentName}}</td>
                <td>{{question.question}}</td>
                <td>{{question.answer}}</td>
                <td><button mat-raised-button (click)="answer(question._id)">Edit your Answer</button>
                </td>
            </tr>
        </table>
    </div>

</div>