.confirm-dialog-container .mat-dialog-container{
    border-radius: .25em.25em .4em .4em;
    padding: 0px;
}
.confirm-dialog-container .content-container{
    margin: 5px 5px 15px 5px;
    color: #8f9cb5;
    display: flex;
    width: 90%;
}
.confirm-dialog-container #close-icon{
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}

.input-field{
    display: block;
    width: 140%;
}

.confirm-dialog-container #close-icon:hover{
    cursor: pointer;
}

.confirm-dialog-container #no-button{
    height: 30px;
    width: 50%;
    background-color: #fc7169;
    color: white;   
    border-radius: 0px;
}

.confirm-dialog-container #yes-button{
    height: 30px;
    width: 50%;
    background-color: #b6bece;
    color: white;
    border-radius: 0px;
}