<div fxFlex='100%' fxFlexFill class="container">
    <h1 *ngIf="isNoUser">No records founds !!!</h1>
    <table *ngIf="!isNoUser">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Working At</th>
            <th>Status</th>
        </tr>
        <tr *ngFor="let user of dataForApproval">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.workingAt}}</td>
            <td>
                <button class="mat-raised-button" (click)="approve(user._id)">Approve</button>
            </td>
        </tr>
    </table>
</div>