.navbar{
    justify-content: space-between;
}

a{
    padding: 10px;
    margin-right: 20px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: #0077ff;
}

.sideBarNav a{
    display: block;
    padding: 1rem;
    padding-left: 40px;
}

.nav-link a{
    display: block;
    color: black;
    margin-left: 10px;
}

mat-sidenav-container{
    height: 95%;
}

mat-sidenav, mat-sidenav-content{
    padding: 16px
}
mat-sidenav-content{
    margin-bottom: 10px;
}

mat-sidenav{
    background-color: cornflowerblue;
    width: 200px;
}

#menuButton{
    display: none;
}

.footer{
    height: 60px;
    align-content: center;
    justify-content: center;
}

.footer span{
    padding-bottom: 10px;
}


@media screen and (max-width:532px) {
    #menuButton{
        display: inline-block;
        margin-right: 10px;
    }
    .navigation{
        display: none;
    }
}
