<div fxFlex='100%' fxFlexFill class="container">
    <mat-card>
        <mat-card-header fxLayoutAlign = 'center'>
            <mat-card-title>{{courseName | uppercase}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img>
            <p>{{overView.description}}</p>
            <br>
            <table>
                <tr>
                    <th>Topic Name</th>
                    <th>Document Link</th>
                    <th>Toturial Link</th>
                    <th *ngIf="roles.updateDocument">Update Topic</th>
                </tr>
                <tr *ngFor="let topic of topicsDisplayed; let i = index">
                    <td>{{keysDisplayed[i]}}</td>
                    <td><a href="topic.documentLink">Click Here</a></td>
                    <td><a href="topic.toturialLink">Click Here</a></td>
                    <td *ngIf="roles.updateDocument"><button mat-raised-button (click)='updateTopic(i)'>Update</button></td>

                </tr>
            </table>
            <br><br>
            <hr>
        </mat-card-content>
        <mat-card-actions align="end">  
            <button *ngIf="roles.createDocument">Dummy</button>
        </mat-card-actions>
    </mat-card>
</div>