<div class="page-container">
    <div *ngIf="isNoUser" class="no-item">
        <span>No records founds !!!</span>
    </div>
    <div *ngIf="!isNoUser" fxFlex="100%" fxFlexFill class="container">
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Working At</th>
                <th>Status</th>
            </tr>
            <tr *ngFor="let user of dataForApproval">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.workingAt}}</td>
                <td>
                    <button class="mat-raised-button test-class" (click)="approve(user._id)">Approve</button>
                </td>
            </tr>
        </table>
    </div>
</div>